<section id="viewArchiveSent">
    <h1>Archive (Sent Messages)</h1>
    {{#hasMessages}}
    <div class="messages" id="sentMessages">
        <table>
            <thead>
            <tr>
                <th>To</th>
                <th>Message</th>
                <th>Date Sent</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#messages}}
            <tr>
                <td>{{ recipient_username }}</td>
                <td>{{ text }}</td>
                <td>{{ date }}</td>
                <td >
                    <button class="messageDeleteButton" data-id="{{ _id }}">Delete</button>
                </td>
            </tr>
            {{/messages}}
            </tbody>
        </table>
    </div>
    {{/hasMessages}}
    {{^messages}}
   <div class="messages">
       <h3>You haven't sent any messages.</h3>
   </div>
    {{/messages}}
</section>