<section id="viewRegister">
    <h1>Please register here</h1>
    <div class="form">
        <label>
            <div>Username:</div>
            <input type="text" name="username" id="registerUsername" required/>
        </label>
        <label>
            <div>Password:</div>
            <input type="password" name="password" id="registerPasswd" required/>
        </label>
        <label>
            <div>Name:</div>
            <input type="text" name="name" id="registerName"/>
        </label>
        <div>
            <a href="#">
                <button id="registerButton">Register</button>
            </a>
        </div>
    </div>
</section>